﻿
@{
    ViewBag.Title = "Index";
}
@section JavaScript
    {
    <script type="text/javascript" src="@Url.Content("/Scripts/loginRegister.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/game.js")"></script>
}
<script>
    userName = "@ViewData["userName"]";
</script>

<div class="jumbotron row text-center">
    <!--<h1>ASP.NET</h1>
     <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
     <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
    <h1>Welcome, @ViewData["userName"]</h1>
    <p><input id="tbSide" class="input-lg hidden" placeholder="Squares per side" /></p>
    <p>
        <div class="radio hidden" id="opponentChoise">
            <label><input type="radio" name="opponent" checked="checked" onclick="AIopponentClick()">Play against AI</label>
            <br />
            <label><input type="radio" name="opponent" onclick="OpponentClick()">Play with a friend</label>
        </div>
    </p>
    <p><input id="tbOpponent" class="input-lg hidden" placeholder="Your Opponent" /></p>
    <p><a id="btnNew" class="btn btn-primary btn-lg" onclick="btnNewClick()">Play New Game</a></p>
    <p><input id="tbGame" class="input-lg hidden" placeholder="Game ID" /></p>
    <p><a id="btnJoin" class="btn btn-default btn-lg" onclick="btnJoinClick()">Join Game</a></p>
</div>



