﻿
@{
    ViewBag.Title = "Play";
}
@section JavaScript
    {
    <script type="text/javascript" src="@Url.Content("/Scripts/loginRegister.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/game.js")"></script>
}
<h2 id="playP">Play</h2><br />
<h3 id="opponentInvite">@( ViewData["gameid"])</h3>

@{
    object a = ViewData["boardside"];
}
<script>
    mySign = @(Convert.ToInt32(ViewData["mySign"]));
    boardSide = @(Convert.ToInt32(ViewData["boardside"]));
    interval = setInterval(update, DEFAULT_INTERVAL);
</script>
@for (int i = 0; i < Convert.ToInt32(a); i++)
{
    for (int j = 0; j < Convert.ToInt32(a); j++)
    {
        <a id="cell_@(j)_@i" class="btn btn-default btn-lg gamecell" onclick="CellClick(@j, @i)"></a>
    }
    <br />
}

<p><a id="btnEnd" class="btn btn-default btn-lg" href="EndGame">End This Game</a></p>
