﻿@{
    ViewBag.Title = "Home Page";
}
@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("/Scripts/general.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/loginRegister.js")"></script>
}
<div class="alert alert-error collapse" role="alert" id="incorrectLogin">
    <span>
        <p>Wrong email or password!</p>
    </span>
</div>
<div class="alert alert-error collapse" role="alert" id="badData">
    <span>
        <p>Cannot register with this data!</p>
    </span>
</div>
<div class="alert alert-success collapse" role="alert" id="logged">
    <span>
        <p>Logged in successfuly!</p>
    </span>
</div>
<div class="alert alert-success collapse" role="alert" id="registered">
    <span>
        <p>Regestered successfuly!</p>
    </span>
</div>
<div class="jumbotron row">
    <!--<h1>ASP.NET</h1>
     <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
     <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
    <div class="col-md-8">
        <h1>Login</h1>
        <p>Login:</p>
        <input id="tbLogin" class="form-control input-lg" />
        <br />
        <p>Password:</p>
        <input id="tbPassword" type="password" class="form-control input-lg" />
        <br />
        <p><a id="btnLogin" class="btn btn-primary btn-lg" onclick="btnLoginClick()">Login</a></p>
    </div>
    <div class="col-md-4">
        <h1>Register</h1>
        <p>Login:</p>
        <input id="tbRLogin" class="form-control input-lg" />
        <br />
        <p>Password:</p>
        <input id="tbRPassword" type="password" class="form-control input-lg" />
        <br />

        <p><a id="btnRegister" class="btn btn-primary btn-lg" onclick="btnRegisterClick()">Register</a></p>
    </div>
</div>

<!--
     <p>Repeat Password:</p>
        <input id="tbRPasswordRep" type="password" class="form-control input-lg" />
        <br /><div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->
 